html {
  font-size: 10px;
}

body {
  @extend %font-prim;
  @include font($size: 1.2rem, $height: 2.6rem, $weight: normal);
  letter-spacing: 2px;
}

h1 {
  @include font($size: 3.6rem);
  text-transform: uppercase;
  letter-spacing: 5.4px;
}

h2 {
  @include font($size: 2.4rem);
  text-transform: uppercase;
  letter-spacing: 3.3px;
}

h3 {
  @include font($size: 2.0rem);
  text-transform: uppercase;
  letter-spacing: 3px;
}

h4 {
  @include font($size: 1.8rem, $height: 2.2rem);
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

h5 {
  @include font($size: 1.6rem, $height: 2rem);
  text-transform: uppercase;
  letter-spacing: 2px;
}

a {
  @include font($size: 1.6rem);
  text-transform: uppercase;
  text-decoration: none;
}
p {
  letter-spacing: 2.4px;
}