.form {
  display: flex;
}

.form__input {
  width: 280px;
  height: 60px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  padding-left: 20px;

  outline: none;
  border: none;

  @include font($size: 1.6rem, $weight: 600);
  letter-spacing: 2.3px;
  color: $color-text;
}

.form__input::placeholder {
  @include set-placeholder();
}

.form__input::-webkit-input-placeholder {
  @include set-placeholder();
}

.form__input::-moz-placeholder {
  @include set-placeholder();
}

.form__input:-moz-placeholder {
  @include set-placeholder();
}

.form__input:-ms-input-placeholder {
  @include set-placeholder();
}

.form__input:focus::placeholder {
  @include set-placeholder(0);
}

.form__input:focus::-webkit-input-placeholder {
  @include set-placeholder(0);
}

.form__input:focus::-moz-placeholder {
  @include set-placeholder(0);
}

.form__input:focus:-moz-placeholder {
  @include set-placeholder(0);
}

.form__input:focus:-ms-input-placeholder {
  @include set-placeholder(0);
}

.form__button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}