$color-primary:     #ffffff;
$color-secondary:   #16a085;
$color-text:        #373737;
$color-link:        #d37a53;
$color-hover:       #1abc9c;
$color-background:  #f5f6f7;

$color-light:       #ffffff;
$color-dark:        #000000;

$content-width:     1025px;